<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.cinapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".activity.ActivityMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.cinapp.activity.MainActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".activity.ManterPerfilActivity"
            android:label="@string/title_activity_manter_perfil" >
        </activity>
        <activity
            android:name=".activity.ManterAlimentoActivity"
            android:label="@string/title_activity_manter_alimento" >
        </activity>
        <activity
            android:name="br.com.cinapp.activity.GerarGraficoActivity"
            android:label="@string/title_activity_gerar_grafico" >
        </activity>
    </application>

</manifest>
